.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logoutButton {
  padding: 8px 16px;
  background-color: #d9534f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 100px;
}

.logoutButton:hover {
  background-color: #c9302c;
}

.changePasswordBtn {
  text-decoration: none;
  color: #333;
}
