.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
}

.inputGroup label {
  font-weight: 500;
  margin-bottom: 0.3rem;
}

.inputGroup input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}
